.checkbox-label {
    transition: color 0.3s ease;
  }
  
  .checkbox-label:hover {
    color: #3b82f6; /* Tailwind's blue-500 */
  }
  
  /* You can also style the checkbox itself if desired */
  input[type="checkbox"]:hover {
    cursor: pointer;
  }
    
  .animate-scroll {
    animation: scroll 30s linear infinite; /* Continuous scroll */
    white-space: nowrap; /* Prevent line breaks */
  }
  
  .scroll-container {
    overflow: hidden; /* Hide overflowing content */
    height: 150px; /* Adjust height as needed */
    position: relative; /* Necessary for absolute positioning of inner content */
  }
  
  .text-xl {
    font-size: 2.25rem; /* Adjust as needed */
  }
  
  .font-semibold {
    font-weight: 600; /* You can change the weight if you want */
  }
  
  .my-6 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  
  
  