@tailwind base;
@tailwind components;
@tailwind utilities;



.backdrop-blur-background {
    backdrop-filter: blur(10px);
    background-color: rgb(127, 123, 136); /* Primary color with some transparency */
  }
  
  .checkbox-label {
      transition: color 0.3s ease;
    }
    
    .checkbox-label:hover {
      color: #3b82f6; /* Tailwind's blue-500 */
    }
    
    /* You can also style the checkbox itself if desired */
    input[type="checkbox"]:hover {
      cursor: pointer;
    }
      
    .animate-scroll {
      animation: scroll 30s linear infinite; /* Continuous scroll */
      white-space: nowrap; /* Prevent line breaks */
    }
    
    .scroll-container {
      overflow: hidden; /* Hide overflowing content */
      height: 150px; /* Adjust height as needed */
      position: relative; /* Necessary for absolute positioning of inner content */
    }
    
    
    .text-xl {
      font-size: 2.25rem; /* Adjust as needed */
    }
    
    .font-semibold {
      font-weight: 600; /* You can change the weight if you want */
    }
    
    .my-6 {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }
    
    @keyframes wave-gradient {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }
      
      .navbar {
        background: linear-gradient(270deg, #6f0f8f, #a455b6, #6f0f8f);
        background-size: 400% 400%;
        animation: wave-gradient 15s ease infinite;
      }
      
